<h1 mat-dialog-title>Add Appointment</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput placeholder="Title" [(ngModel)]="data.title" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Time (Hour)</mat-label>
    <input
      matInput
      placeholder="Hour"
      type="number"
      [(ngModel)]="data.hour"
      min="0"
      max="23"
      required
    />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="data"
    [disabled]="!data.title || data.hour < 0 || data.hour > 23"
  >
    Add
  </button>
</div>
